
<div class="row">
   <div class="col-md-8 mx-auto">
      <h2> Nuevo Empleado</h2>
      <div class="card p-2 shadow-lg bg-white rounded">
         <div class="card-body">
            <form action="/empleados/add" method="POST">
               <div class="form-group">
                  <label for="id">id:</label>
                  <input
                     type="number"
                     min="0"
                     class="form-control"
                     id="id"
                     name="id"
                     placeholder="Ingrese el id del proveedor"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="nombre">nombre:</label>
                  <input
                     type="text"
                     class="form-control"
                     id="nombre"
                     name="nombre"
                     placeholder="Ingrese el el nombre del proveedor"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="apellido">apellido:</label>
                  <input
                     type="text"
                     class="form-control"
                     id="apellido"
                     name="apellido"
                     placeholder="Ingrese el apellido del proveedor"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="email">email:</label>
                  <input
                     type="email"
                     class="form-control"
                     id="email"
                     name="email"
                     placeholder="Ingrese el email del proveedor"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="categoria">Seleccione el sexo:</label>
                  <select class="form-control" id="sexo" name="sexo" required>
                     <option value="">Nada</option>
                     <option value="M">Masculino</option>
                     <option value="F">Femenino</option>
                     <option value="O">Otro</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="fecha_nac">fecha_nac:</label>
                  <input
                     type="date"
                     min="01/01/1950"
                     mix="01/01/2003"
                     class="form-control"
                     id="fecha_nac"
                     name="fecha_nac"
                     placeholder="Ingrese el fecha de nacimiento del proveedor"
                     required
                  />
               </div>

               <div class="form-group">
                  <label for="categoria">Seleccione el puesto:</label>
                  <select class="form-control" id="puesto" name="puesto" onchange="getMunicipios()" required>
                     <option value="">Nada</option>
                     {{#each puestos}}
                        <option value="{{id}}">{{nombre}}</option>
                     {{/each}}
                  </select>
               </div>
               
               <div class="form-group">
                  <label for="categoria">Seleccione el estado:</label>
                  <select class="form-control" id="estado" name="estado" onchange="getMunicipios()" required>
                     <option value="">Nada</option>
                     {{#each estados}}
                     <option value="{{id}}">{{clave}} - {{nombre}}</option>
                     {{/each}}
                  </select>
               </div>
               <div class="form-group">
                  <label for="municipio">Seleccione un municipio:</label>
                  <select class="form-control" id="municipios" name="municipios" required>
                     <option value="">Nada</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="colonia">colonia:</label>
                  <input
                     type="text"
                     class="form-control"
                     id="colonia"
                     name="colonia"
                     placeholder="Ingrese la colonia del proveedpr"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="calle">calle:</label>
                  <input
                     type="text"
                     class="form-control"
                     id="calle"
                     name="calle"
                     placeholder="Ingrese la calle del proveedor"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="codigo Postal">codigo Postal:</label>
                  <input
                     type="number"
                     min="0"
                     class="form-control"
                     id="codigoPostal"
                     name="codigoPostal"
                     placeholder="Ingrese la codigo Postal del proveedor"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="num. exteriro">num. exterior:</label>
                  <input
                     type="number"
                     min="0"
                     class="form-control"
                     id="numExterior"
                     name="numExterior"
                     placeholder="Ingrese la num. exteriro del proveedor"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="telefono">telefono:</label>
                  <input
                     type="number"
                     class="form-control"
                     id="telefono"
                     name="telefono"
                     placeholder="Ingrese la telefono del proveedor"
                     required
                  />
               </div>
               <div class="form-group">
                  <input type="submit" class="btn btn-success btn-block" value="Guardar">
               </div>
            </form>
         </div>
      </div>
   </div>
</div>