
<div class="row">
   <div class="col-md-8 mx-auto">
      <h2>Editar Puesto de trabajo</h2>
      <div class="card p-2 shadow-lg bg-white rounded">
         <div class="card-body">
            <form action="/empleados/puesto/edit/{{puesto.id}}" method="POST">
               <div class="form-group">
                  <label for="id">id:</label>
                  <input
                     type="text"
                     class="form-control"
                     id="id"
                     name="id"
                     value="{{puesto.id}}"
                     placeholder="Ingrese el id del puesto de trabajo"
                     disabled
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="nombre">nombre:</label>
                  <input
                     type="text"
                     class="form-control"
                     nombre="nombre"
                     id="nombre"
                     name="nombre"
                     value="{{puesto.nombre}}"
                     placeholder="Ingrese el nombre del puesto de trabajo"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="descripcion">descripcion:</label>
                  <input
                     type="text"
                     class="form-control"
                     id="descripcion"
                     name="descripcion"
                     value="{{puesto.descripcion}}"
                     placeholder="Ingrese el descripcion del puesto de trabajo"
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="salario">salario:</label>
                  <input
                     type="number"
                     min="0"
                     class="form-control"
                     id="salario"
                     name="salario"
                     value="{{puesto.salario}}"
                     placeholder="Ingrese el salario del puesto de trabajo"
                     required
                  />
               </div>
               <div class="form-group">
                  <input type="submit" class="btn btn-success btn-block" value="Guardar">
               </div>
            </form>
         </div>
      </div>
   </div>
</div>