
<div class="row">
   <div class="col-md-8 mx-auto">
      <h2> Nuevo Proveedor</h2>
      <div class="card p-2 shadow-lg bg-white rounded">
         <div class="card-body">
            <form action="/proveedores/producto/edit/{{result.id}}" method="POST">
               <div class="form-group">
                  <label for="id">id:</label>
                  <input
                     type="text"
                     class="form-control"
                     id="id"
                     name="id"
                     value="{{result.id}}"
                     placeholder="Ingrese el id del proveedor"
                     disabled
                     required
                  />
               </div>
               <div class="form-group">
                  <label for="proveedor">Seleccione el proveedor:</label>
                  <select class="form-control" id="proveedor" name="proveedor" required>
                     <option value="{{ provId.id }}">{{ provId.nombre }} {{ provId.apellido }}</option>
                     {{#each provAll}}
                        <option value="{{id}}">{{nombre}} {{apellido}}</option>
                     {{/each}}
                  </select>
               </div>
               <div class="form-group">
                  <label for="producto">Seleccione un producto:</label>
                  <select class="form-control" id="producto" name="producto" required>
                     <option value="{{ prodId.id }}">{{ prodId.nombre }}</option>
                     {{#each prodAll}}
                        <option value="{{id}}">{{nombre}}</option>
                     {{/each}}
                  </select>
               </div>
               <div class="form-group">
                  <input type="submit" class="btn btn-success btn-block" value="Guardar">
               </div>
            </form>
         </div>
      </div>
   </div>
</div>